<div class="row"> 

<div class="col-6 bg-success">
    <h3>one way</h3>
    <div class="row">
        <div class="col-6 bg-secondary p-3">
            from .ts to html
            <br>
            => interpolation & property binding
        </div>
        <div class="col-6 bg-warning p-3">
            from .html to .ts
        </div>
    </div>
</div>
<div class="col-6 bg-danger">
    <h3>Two way</h3>
</div>
</div>

<div class="row">
    <div class="col-3">
        course name => {{courseName}}   <!-- interpolation -->

        
    </div>
</div>